.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-dark: hsl(158, 36%, 37%);
  --primary-color-light: hsl(30, 38%, 92%);
  --neutral-color-very-dark: hsl(212, 21%, 14%);
  --neutral-color-dark: hsl(228, 12%, 48%);
  --neutral-color-white: hsl(0, 0%, 100%);
}

html {
  font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--primary-color-light);
}

.card {
  margin: 25vh auto 1rem;
  max-width: 55vw;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  display: flex;
}

.desktop-img {
  display: block;
  border-radius: 10px 0 0 10px;
  max-width: 27vw;
}

.card-content {
  background-color: var(--neutral-color-white);
  border-radius: 0 10px 10px 0;
}
