.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-dark: hsl(158, 36%, 37%);
  --primary-color-light: hsl(30, 38%, 92%);
  --neutral-color-very-dark: hsl(212, 21%, 14%);
  --neutral-color-dark: hsl(228, 12%, 48%);
  --neutral-color-white: hsl(0, 0%, 100%);

  --serif-font: "Fraunces", serif;
  --sans-serif-font: "Montserrat", sans-serif;
}

body {
  background-color: var(--primary-color-light);
}

h2 {
  font-family: var(--sans-serif-font);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  opacity: 0.4;
}

h1 {
  font-family: var(--serif-font);
  line-height: 1.8rem;
  margin: 1rem 0;
}

p {
  font-size: 0.875rem;
  font-family: var(--sans-serif-font);
  font-weight: 500;
  opacity: 0.8;
  color: var(--neutral-color-dark);
  line-height: 1.3rem;
}

.main-text {
  margin-bottom: 1rem;
}

.card {
  margin: 25vh auto 1rem;
  max-width: 55vw;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  display: flex;
}

.desktop-img {
  display: block;
  border-radius: 10px 0 0 10px;
  max-width: 27vw;
}

.card-content {
  background-color: var(--neutral-color-white);
  border-radius: 0 10px 10px 0;
  padding: 1rem;
}

.price {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discount-price {
  color: var(--primary-color-dark);
  font-family: var(--serif-font);
  font-size: 1.6rem;
  font-weight: 700;
}

.original-price {
  text-decoration: line-through;
  margin-right: 1.5rem;
}

button {
  background-color: var(--primary-color-dark);
  color: var(--neutral-color-white);
  font-family: var(--sans-serif-font);
  font-size: 0.875rem;
  border: none;
  border-radius: 5px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button p {
  color: var(--neutral-color-white);
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

button:hover {
  background-color: #1a4031;
  cursor: pointer;
}
